<header id="global-header">
  <div class="wrapper">    
  <header class="site-header">
      <img src="http://localhost:3001/static/media/civlink_logo.a15deb004278e606d6a6.png" className="App-logo" alt="Welcome to CivLink" />
      </header>
      <nav className="menu">
        <Link to="/FixMyStreet">Report Issues</Link>
        <Link to="/Petitions">Petitions</Link>
      </nav>


    <p class="strapline"></p>
  </div>
</header>
