<header id="global-header">
  <div class="wrapper">    
  <header class="site-header">
      <img src="http://localhost:3001/static/media/civlink_logo.a15deb004278e606d6a6.png" className="App-logo" alt="Welcome to CivLink" />
      </header>
      <nav className="menu">
        <a href="http://localhost:3001/FixMyStreet">Report Issues</a>
        <a href="http://petitions.localhost:3000/">Petitions</a>
      </nav>


    <p class="strapline"></p>
  </div>
</header>
