<header id="global-header">
  <div class="wrapper">    
  <header class="site-header">
      <img src="<%= asset_path 'graphics/civlink_logo.png' %>" className="App-logo" alt="Welcome to CivLink" />
      </header>
      <nav className="menu">
        <a href="http://localhost:3001/FixMyStreet">Report Issues</a>
        <a href="http://petitions.localhost:3000/">Petitions</a>
      </nav>
    <p class="strapline"></p>
  </div>
</header>
